<%- include nav.ejs %>
<div id="form-container" class="container mt-3">
    <h3>Add a brand new song</h3>
    <form class="mt-3" method="post" action="/guitar-chords/add-song" novalidate>
    <div class="form-group">
        <label class="mt-3" for="artist">Artist</label>
        <% if(songData.artist) { %>
            <input class="form-control" name="artist" value="<%= songData.artist %>">
        <% } else {%>
            <input class="form-control" name="artist">
        <% } %>
        <label class="mt-3" for="title">Song Title</label>
        <% if(songData.title) { %>
            <input class="form-control" name="title" value="<%= songData.title %>">
        <% } else {%>
            <input class="form-control" name="title">   
        <% } %>
        <label class="mt-3" for="lyrics">Write the Lyrics and Chords</label>
        <% if(songData.lyricsChords) { %>  
            <input placeholder="Write the song" name="lyrics" value="<%= songData.lyricsChords %>" hidden>
            <div id="editor"></div>
            <button id="submitButton" class="btn btn-primary mt-3" type="submit" disabled>Save Profile</button>
        <% } else {%>
            <input placeholder="Write the song" name="lyrics" hidden>
            <div id="editor"></div>
            <button id="submitButton" class="btn btn-primary mt-3" type="submit" disabled>Save Profile</button>
        <% } %>
    </div>  
    </form>
</div>
<%- include footer.ejs %>