<div class='container'>
  <div class='row justify-content-md-center'>
    <div class='col-md-12 text-center mb-3'>
      <% if (userData.thumbnail) {%>
        <div><img class='rounded-circle img-max img-thumbnail' src='<%= userData.thumbnail %>' alt='Profile Picture' /></div>
      <% } %>
      <p class='h3 mt-2'><%= userData.username %></p>
      <p id='profile-stats' class='mt-0'>
        <strong>Total Songs: </strong><span>Loading</span>
      </p>
      <button class="btn btn-danger btn-sm mb-3" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</button>
      <p>
        <%- include('./partials/components/add-song-button') %>
      </p>
      <div id="error-message"></div>
      <ul id='page-results' class='list-group'>
        <%- include('./partials/components/spinner') %>
      </ul>
      <%- include('./partials/components/pagination') %>
    </div>
  </div>
</div>

<%- include('./partials/logout-modal') %>