<%- include nav.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-8  mt-3">
            <h2>Song name by Artist</h2>
            <p><small>Created By: songCreater</small></p>
            <div class="mt-5">
            <% song.forEach(function(item){ %>
                <% if(item.attributes) { %>
                    <% let style = ""; %>
                    <% if(item.attributes.bold){ %>
                    <%  style += "font-weight:bold;" %>
                    <% } %>
                    <% if(item.attributes.italic){ %>
                    <% style += "font-style:italic;" %>
                    <% } %>
                    <span class="fix-form" style="<%= style %>"><%- item.insert.replace(/\t/g, "    ") %></span>
                <% } %>
                <span class="fix-form"><%- item.insert.replace(/\t/g, "    ") %></span>
            <% }) %>
            </div>
        </div>      
    </div>
</div>
<%- include footer.ejs %>